// 변수 셋팅하기
$mainColor1: rgb(171, 21, 21);
$mainColor1-2: rgb(161, 107, 232);
$mainColor2: rgb(16, 16, 185);
$mainColor2-2: rgb(16, 117, 185);

// 글자색
$fontColor: aqua;

// 글자 크기
$fontSize1: 40px;
$fontSize2: 35px;
$fontSize3: 30px;