/*********** 웹폰트 : CDN ***********/

/* Cute Font, Jua, Audiowide */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cute+Font&family=Jua&display=swap');
/* 
    font-family: 'Audiowide', cursive;
    font-family: 'Cute Font', cursive;
    font-family: 'Jua', sans-serif;
*/