@charset "utf-8";

/* Robot PJ - 애니메이션 CSS */

/****************************************** 
    [ CSS 애니메이션 ]

    - CSS 속성 변화를 장면으로 구성하여
    애니메이션을 화면에 연출해주는 속성

    [ 애니메이션 키프레임 ]
    - 애니메이션 속성 변화를 지정하는 코딩 영역

    [ 2장면 코딩법 ]

    @keyframes 키프레임명 {
        from{시작CSS}
        to{끝CSS}
    } 

    또는

    @keyframes 키프레임명 {
        0%{시작CSS}
        100%{끝CSS}
    }
    
    __________________________________

    [ 여러 장면 코딩법 ]
    
    @keyframes 키프레임명 {
        0%{시작CSS}
        10%{중간CSS}
        20%{중간CSS}
        ...
        70%{중간CSS}
        90%{중간CSS}
        100%{끝CSS}
    }

    -> 만약 첫 장면이 이미 CSS에 설정되어 있으면
    from 또는 0% 를 생략할 수 있다!

    __________________________________

    [ 애니메이션 연출 시간 계산법 ]

    - 내가 지정한 %의 장면은 언제 등장하는가?

    전체시간(초) * 몇% / 100 = 알고 싶은 시간

    예) 60초 * 50%/100% = 30초
    __________________________________


    [ 설정된 키프레임 호출하는 방법 ]

    animation : 이시이지반방마
    (이름 시간 이징 지연 반복 방향 마지막 상태)

    1) 이름(animation-name) : keyframe 이름
    2) 시간(animation-duration) : 애니메이션 동작시간(초단위:s)
    3) 이징(animation-timing-function) : easing 가속도
    4) 지연(animation-delay) : 애니메이션 시작 지연시간(초단위:s)
    5) 반복여부(animation-iteration-count) : 애니메이션 반복 횟수
        - 기본값 1, 숫자를 쓰면 반복 횟수
        - 영원히는 infinite(인피니트)
    6) 방향(animation-direction) : 시작->끝
        - 대체경로 설정하기 : alternate : 시작->끝,끝->시작
        - 대체경로는 반복 횟수가 2이상 또는 infinite 이여야 함
    7) 마지막 상태(animation-fill-mode) : 애니메이션이 끝났을 때
        - 처음 상태로 돌아가는 것이 기본!
        - 마지막 상태를 유지하고 싶을 때 forwards(앞쪽에...즉, 애니 끝 장면)



******************************************/

/* 1. 로고 애니 */
.logo{
    /* 처음 출발 크기 지정 */
    transform: scale(2);

    animation:
    /* 1초 후 3초간 이동애니 셋팅 */
    logo-ani 3s linear 1s forwards,
    /* 4초 후 스윙애니 영원히 셋팅 */
    swing-ani .4s ease-in-out 4s infinite alternate;
}

@keyframes logo-ani{
    /* 정가운데 출발 */
    /* 처음 위치 이동 : 왼쪽 위 */
    0%{
        top: calc(50% - 5vw);
        left: calc(50% - 5vw);
        transform: scale(2);
    }
    /* 두 번째 위치 이동 : 오른쪽 위 */
    40%{
        top: calc(0% + 5vw);
        left: calc(0% + 5vw);
        transform: scale(.5);
    }
    /* 세 번째 위치 이동 : 오른쪽 아래 */
    60%{
        top: calc(0% + 5vw);
        left: calc(100% - 25vw);
        transform: scale(.5);
    }
    /* 네 번째 위치 이동 : 왼쪽 아래 */
    80%{
        top: calc(100% - 25vw);
        left: calc(100% - 25vw);
        transform: scale(.5);
    }
    /* 처음 위치로 돌아옴 : 왼쪽 위 */
    90%{
        top: calc(0% + 5vw);
        left: calc(0% + 5vw);
        transform: scale(1);
    }
    /* 각도 돌리기 : 다음 스윙애니 출발 각도로 변경 */
    100%{
        top: calc(0% + 5vw);
        left: calc(0% + 5vw);
        transform: scale(1) rotate(30deg);
    }
}

/* 제자리 스윙 애니 */
@keyframes swing-ani {
    from{
        transform: scale(1) rotate(30deg);
    }
    to{
        transform: scale(1) rotate(-30deg);
    }
}

/* 2. 로봇 이동 애니 */
.robot-box{
    /* 애니메이션 : 이시이지반방마
    - 4초 후 4초간 한 번만 마지막 상태 유지 */
    animation: move-robot 4s ease-in-out 4s forwards;
}
@keyframes move-robot{
    to{transform: translate(-50%, 0%) scale(0.7);}
}

/* 3. 로봇 다리 작동 애니 */
@keyframes leg-ani {
    to{
        top: 85%;
    }
}

.leg{
    top:70%;
    animation: leg-ani .3s ease-in-out 4s 12 alternate;
    /* 0.3초간 애니 시간으로 4초 후에 12번 작동
    alternate 때문에 반대로 작동하는 횟수가 더해짐
    from->to (6회), to->from(6회)  */

}

/* 한쪽 다리는 올라간 다음 올라가야 하므로 애니 시작 지연시간을 준다 */
.leg2{
    /* 한 방향이 0.3초이므로 0.3초 기다리면 됨
    +전체 기다리는 시간 4초를 더함 */
    animation-delay: 4.3s;
}


/* 팔 공통 트랜스폼 세로축 기준 top으로 변경 */
.arm,.arm span,.arm span::after{
    transform-origin: top;
    
}

/* 4. 로봇 왼쪽 팔 허리에 올리기 */
.arm1{
    animation: left-arm-ani1 .4s 8s forwards;
}

@keyframes left-arm-ani1 {
    to{
        left: -20px;
        transform: rotate(45deg);
    }
}

/* 왼쪽 팔 하단 애니 */
.arm1 span{
    animation: left-arm-ani2 .4s 8s forwards;
}

@keyframes left-arm-ani2 {
    to{
        transform: rotate(-90deg);
    }
}

/* 왼쪽 손 애니 */
.arm1 span::after{
    animation: left-hand-ani1 .4s 8s forwards;
}

@keyframes left-hand-ani1 {
    to{
        transform: rotate(70deg);
    }
}


/* 5. 로봇 오른쪽 팔 올리고 손 흔들기 */
.arm2{
    /* 팔 올리기 */
    animation: right-arm-ani1 .4s 9s forwards;

}

.arm2 span{
    /* 팔 흔들기 */
    animation: right-arm-ani2 1s ease-in-out 9.4s alternate infinite;
}

/* 팔 올리기 키프레임 */
@keyframes right-arm-ani1 {
    to{
        transform: rotate(-150deg);
    }
}

/* 팔 흔들기 키프레임 */
@keyframes right-arm-ani2 {
    to{
        transform: rotate(-50deg);
    }
}

.arm2 span::after{
    animation: right-arm-ani3 .2s 9s forwards;
}

@keyframes right-arm-ani3 {
    to{
        transform: rotateY(180deg);
        left: -13px;
    }
}

.link-title{
    animation: link-text-ani 1s ease-in 9.5s forwards;
}

@keyframes link-text-ani {
    to {transform: translateX(200px) scale(1);
    }
}