@charset "utf-8";

/* 레이아웃 유형2 */

@import url(./grid12_flex.css);

/* 초기화 */
html,body,h1,h2,ol,ul{
    margin: 0;
    padding: 0;
}

/* 공사중 */
body * {
    outline: 2px dashed red;
}

/* 공통클래스 */
/* 중앙속박스 */
.inbox{
    /* 최대 가로 크기 */
    max-width: 1200px;
    /* 가로 박스 중앙정렬 */
    margin: 0 auto;
}

/* 임시 타이틀 */
.temp-tit{
    position: absolute;
    color: #888;
}

/*********************** 1. 상단 영역 ***********************/
.top-area{
    height: 100px;
}

/*********************** 2. 배너 영역 ***********************/
.ban-area{
    height: 300px;
}

/*********************** 3. 컨텐츠 영역 ***********************/
.cont-area{
    height: 200px;
}

/*********************** 4. 하단 영역 ***********************/
.footer-area{
    height: 100px;
}